<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FTP">

	
	
	
	<test name="PR_Test_Login">
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- <class name="com.FTP.TestCases.TC_pakrailway_Login_001"></class> -->
			<class name="com.FTP.TestCases.TC_BookTicket_001"></class>
			
		</classes>
	</test>
	
	
	
	
</suite>